* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
button{
    padding: 0;
    background-color: transparent;
    border: none;
}
