.header {
    display: flex;
    justify-content: space-around;
    background-color: #d3cbc5;
    height: 79px;
    //width: 100%;
    //max-width: 1440px;
    //margin: 0 auto;

    &__menu {
        display: flex;
        margin-top: 20px;
    }

    &__logo {
        margin-top: 22px;
    }

    &__menu-link {
        font-size: 16px;
        color: black;
        margin: 15px;
        font-family: "Nunito Sans";
    }

    &__menu-link:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
.cart{
    margin-left: 27px;
}
.text-page {
    background-image: url(../img/catalog/room-3d.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: "Nunito Sans";
    padding-top: 10px;
    padding-bottom: 0;
    //height: 105vh;
    height: 1000px;
    //width: 100%;
    //max-width: 1440px;
    //margin: 0 auto;
}

.first-page {
    line-height: 1.5;
    margin: 400px 0 0 250px;

    &::after {
        content: "";
        position: absolute;
        border-bottom: 1px solid #6b6c71;
        width: 292px;
        //left: 410px;
        //left: 189px;
        //top: 340px;
        left: 11.1vw;
        top: 49vh;
    }

    &::before {
        content: "";
        position: absolute;
        border-right: 1px solid #6b6c71;
        height: 261px;
        //left: 420px;
        //left: 200px;
        //top: 330px;
        left:12vw;
        top: 47vh;
    }

    &__title {
        font-size: 50px;
    }

    &__price {
        font-size: 24px;
    }

    &__price-start {
        color: #878787;
        font-size: 16px;
    }

    &__name {
        font-size: 16px;
        color: #2c314b;
    }

    &__button {
        height: 37px;
        width: 114px;
        background-color: #1c1b1b;
        color: white;
        font-size: 14px;
        text-align: center;
        position: relative;
        border: none;
        margin-top: 15px;
    }

    &__button:hover {
        background-color: #5a5959;
    }

    &__button::after {
        content: "";
        position: absolute;
        border-bottom: 0.6px solid black;
        height: 37px;
        width: 125px;
        left: 0;
        bottom: 0;
    }

    &__button::before {
        content: "";
        position: absolute;
        border-right: 0.6px solid black;
        height: 47px;
        width: 114px;
        left: 0;
        top: 0;
    }

    &__button-line::before {
        content: "";
        position: absolute;
        border-top: 0.6px solid black;
        width: 122px;
        //left: 433.5px;
        //top: 581px;
        top: 73.6vh;
        left: 12.6vw;
        //left: 214px;
        //top: 582px;
        bottom: 0;
    }

    &__button-line::after {
        content: "";
        position: absolute;
        border-left: 0.6px solid black;
        height: 45px;
        bottom: 0;
        //left: 441px;
        //top: 574px;
        left: 13vw;
        top: 72.8vh;
        //left: 225px;
        //top: 573px;
    }
}

@media screen and (max-width: 1440px){
    .first-page {
        margin: 250px 0 0 200px;
    }

    .text-page {
        background-size: 100%;
        background-position: 0 0;
    }

    .first-page__button-line::before {
        top: 563px;
        //width: 122px;
        left: 192px;
    }

    .first-page__button-line::after {
        top: 554px;
        //height: 45px;
        left: 199px;
    }

    .first-page::after {
        left: 160px;
        top: 320px;
    }

    .first-page::before {
        left: 171px;
        top: 300px;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .first-page {
        margin: 180px;
    }

    .first-page__title {
        font-size: 20px;
    }

    .header__menu-link {
        margin: 5px;
    }

    .text-page {
        background-size: 100%;
        background-position: 0 0;
        height: 600px;
    }

    .first-page__button-line::before {
        top: 403px;
        width: 122px;
        left: 172px;
    }

    .first-page__button-line::after {
        top: 396px;
        height: 45px;
        left: 179px;
    }

    .first-page::after {
        width: 210px;
        left: 140px;
        top: 260px;
    }

    .first-page::before {
        height: 150px;
        left: 150px;
        top: 250px;
    }
}

@media screen and (max-width:768px) and (min-width:640px) {
    .text-page {
        background-size: 100%;
        background-position: 0 0;
        height: 400px;
    }

    .first-page {
        margin: 110px;
    }

    .header__menu-link {
        font-size: 12px;
    }

    .header {
        height: 60px;
    }

    .header__logo {
        margin: 10px;
    }

    .first-page__button-line::before {
        top: 314px;
        width: 122px;
        left: 102px;
    }

    .first-page__button-line::after {
        top: 307px;
        height: 45px;
        left: 109px;
    }

    .first-page__title {
        font-size: 20px;
    }

    .first-page::after {
        width: 160px;
        left: 90px;
        top: 170px;
    }

    .first-page::before {
        height: 150px;
        left: 100px;
        top: 160px;
    }
}

@media screen and (max-width:639px) {
    .header__menu-link {
        display: none;
    }

    .text-page {
        background-size: 100%;
        background-position: 0 0;
    }

    .first-page {
        margin-bottom: 2px;
        margin-top: 2px;
        margin-left: 62px;
        height: 100px;
        padding: 0;
    }

    .first-page__title {
        font-size: 20px;
    }

    .first-page__price {
        font-size: 12px;
    }

    .first-page__price-start {
        font-size: 10px;
    }

    .first-page__name {
        font-size: 10px;
    }

    .first-page__button {
        height: 17px;
        width: 80px;
        font-size: 10px;
    }

    .first-page::after {
        display: none;
    }

    .first-page::before {
        display: none;
    }

    .first-page__button-line::before {
        display: none;
    }

    .first-page__button-line::after {
        display: none;
    }

    .first-page__button::after {
        display: none;
    }

    .first-page__button::before {
        display: none;
    }
}

@media screen and (min-width: 1441px) {
    .text-page {
        background-size: 100%;
    }
}
/*#----------------------slider------------------------*/

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    max-width: 1110px;
    margin: 94px auto 0 auto;
    /*font-family: "Nunito Sans";
    max-width: 100%;
    margin: 70px;
    margin-left: 13%;
    margin-right: 13%;*/
}

.itc-slider__item {
    flex: 0 0 32;
    flex-direction: column;
    max-width: 32%;
    height: 505px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: start;
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

.slide__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 25px;
    margin: 5px;
    margin-left: 0%;
    padding: 30px;
    max-width: 100%;
}

.slide__title {
    font-size: 30px;
    min-height: 165px;
}

.chair {
    max-width: 50%;
    margin-left: 35%;
    margin-bottom: 20%;
}

.armchair {
    max-width: 68%;
    margin-left: 28%;
    margin-bottom: 20%;
}

.lamp {
    max-width: 100%;
    padding: 0;
    margin: 0;
    align-content: center;
    height: auto;
    display: block;
}

.item__button {
    background-color: #e5e6e6;
    font-style: normal;
    font-size: 14px;
    line-height: 60px;
    height: 37px;
    width: 115px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__button:hover {
    background-color: #eeeeee;
}

.item__button::before {
    content: "";
    position: absolute;
    background: #1b1a1a;
    height: 0.6px;
    width: 110px;
    left: 25px;
    top: 200px;
}

.item__button::after {
    content: "";
    position: absolute;
    background: #1b1a1a;
    height: 0.6px;
    width: 110px;
    left: 40px;
    top: 236px;
}

.button__link {
    color: #1b1a1a;
}

.button__link::before {
    content: "";
    position: absolute;
    background: #1b1a1a;
    height: 40px;
    width: 0.6px;
    left: 30.75px;
    top: 193.5px;
}

.button__link::after {
    content: "";
    position: absolute;
    background: #1b1a1a;
    height: 40px;
    width: 0.6px;
    left: 144px;
    top: 202.7px;
}

.itc-slider__item:nth-child(1) {
    background-color: #e5e6e6;
    max-width: 32%;
}

.itc-slider__item:nth-child(2) {
    background-color: #e5e6e6;
    max-width: 32%;
}

.itc-slider__item:nth-child(3) {
    background-color: #e5e6e6;
    max-width: 32%;
}

.itc-slider__item:nth-child(4) {
    background-color: #e5e6e6;
    max-width: 32%;
}

.itc-slider__item:nth-child(5) {
    background-color: #e5e6e6;
    max-width: 32%;
}


/*new arrivals*/
.arrivals{
    width: 100%;
    max-width: 1110px;
    margin: 114px auto 0 auto;
    &__theme{
        margin-bottom: 21px;
    }
    &__theme-line{
            margin-right: 10px;
    }
    &__theme_title{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    color: #9A6437;
    }
    &__name{
        display: flex;
        justify-content: space-between;
    }
    &__navbar{
        margin-top: 39px;
    }
    &__navbar a:hover{
        color: white;
        background-color: #353535;
    }
    &__navbar a{
        max-height: 31px;
        color:#353535;
        padding: 10px;
    }
    &__name_title{
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    color: #1B1A1A;
    }
}

/*cards*/
.good-cards {
    /*height: 680px;*/
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 39px;
    margin-top: 40px;
    /* flex-wrap: wrap;*/
}
.good-info{
    width: 255px;
    height: 274px;
    margin-bottom: 6px;
}
.good{
    &__image{
        background-color: #F7F7F7;
        height: 241px;
    }
    &__image img{
        padding: 64px 76px 31px 76px;
    }
    &__icons{
        text-align: center;
        background-color: #1C1B1B;
        height: 33px;
        /*padding-top: 8px;*/
    }
    &__icons img{
        padding: 8px 10px 0 10px;
    }
    &__text{
        margin-bottom: 9px;
        font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #282828;
    }
    &__parametr{
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width: 1024px){
    .arrivals{
        width: 100%;
        max-width: 950px;
        margin: 114px auto 0 auto;
    }
    .good-cards {
        /*height: 680px;*/
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
    }
    .good{
        //margin-left: 30px;
        &__parametr{
            width: 278px;
        }
    }
    .good-info{
        width: 278px;
    }
}
@media screen and (max-width: 768px) {
    .arrivals{
        width: 100%;
        max-width: 750px;
        margin: 95px auto 0 auto;
    }
    .good-cards {
        /*height: 680px;*/
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
    }
    .good{
        margin-left: 30px;
        &__parametr{
            width: 278px;
        }
    }
    .good-info{
        width: 278px;
    }
}
.reviews {
    background: url(../img/catalog/reviews_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /*height: 100%;*/
    height: 700px;
    width: 100%;
    max-width: 1440px;
    margin: 99px auto 106px auto;

    &__container-title{
        display: flex;
        align-items: center;
        margin-left: 581px;
    }
    &__line{
    width: 55px;
    height: 0;
    border: 1.2px solid #E0E0E0;
    margin-top: 73px;
    }
    &__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    color: #E0E0E0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 73px;
    }
    &__subtitle{
        font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 91px;
    }
}
.photo{
    &__container{
        display: flex;
        justify-content: center;
        margin-bottom: 82px;
        transition: 1s;
    }
    &__item{
        background-color: white;
        width: 255px;
        height: 314px;
        margin-left: 30px;
        position: relative;
    }

    &__container :hover {
        transform: scale(1.2);
    }
    &__img img{
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: #D9D9D9;
        position: absolute;
        margin-left: 73px;
        margin-top: -49px;
    }
    &__info{
        margin-top: 93px;
    }
    &__title{
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-align: center;
        color: #1B1A1A;
        margin-bottom: 10px;
    }
    &__subtitle{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #999999;
    }
    &__feedback{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #E0E0E0;
    }
    &__rating{
        margin-left: 4px;
    }
    &__description{
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: #999999;
        padding: 7px 22px 0 21px;
    }
}

@media screen and (max-width: 1440px) {

    .reviews {
        width: 100%;
        max-width: 1110px;
        margin: 99px auto 106px auto;

        &__container-title{
        margin-left: 440px;
        }
    }
    .photo{
        &__item{
            margin-left: 10px;
        }
    }  
}

/*
@media screen and (max-width: 1200px) {

    .reviews {
        width: 850px;
    }

    .photo {

        .reviews {
            width: 100%;
            max-width: 1110px;
            margin: 99px auto 106px auto;
    
            &__container-title{
            margin-left: 440px;
            }
        }
        .photo{
            &__item{
                margin-left: 10px;
            }
        } 
    }
}*/


@media screen and (max-width: 1024px) {
    .reviews {
        width: 100%;
        max-width: 950px;
        margin: 99px auto 106px auto;
        height: 1100px;
        //background-size: 100%;
        background-position: 0 0;

        &__container-title{
        margin-left: 360px;
        }
    }
    .photo{
        &__container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 50px;
            padding-left: 120px;
        }
    
        &__item{
            margin-left: 10px;
        }
    }  
}


@media screen and (max-width: 768px) {
    .reviews {
        max-width: 750px;

        &__container-title{
        margin-left: 260px;
        }
    }

}

/*----------------------Page 4------------------------*/
.special-product{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}

.special{
grid-template-rows: 1fr;
}

.block-name {

    &__line{
        margin-right: 10px;
    }
    &__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 60px;
    color: #9A6437;
    }
    &__article{
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 60px;
    color: #1B1A1A;
    }
    &__name{
        display: flex;
        justify-content: space-between;
    }
    &__button{
        height: 40px;
        width: 135px;
        background: none;
        color: #1B1A1A;
        font-size: 14px;
        text-align: center;
        position: relative;
        border: none;
    }
    &__button:hover {
        background-color:  #999999;
        cursor: pointer;
    }

    &__button::after {
        content: "";
        position: absolute;
        border-bottom: 0.6px solid #1B1A1A;
        /* height: 43px;*/
        width: 140px;
        left: 0;
        bottom: 0;
    }

    &__button::before {
        content: "";
        position: absolute;
        border-right: 0.6px solid #1B1A1A;
        height: 47px;
        /*width: 114px;*/
        left: 0;
        bottom: 0;
    }

    &__button-line::before {
        content: "";
        position: absolute;
        border-top: 0.6px solid black;
        width: 140px;
        right: 396px;
    }

    &__button-line::after {
        content: "";
        position: absolute;
        border-left: 0.6px solid black;
        height: 45px;
        /*bottom: 0;
        left: 441px;
        top: 574px;*/
    }
}
.line {
    border: 1.2px solid #9a6437;
    width: 55px;
    height: 0px;
}
.block-name__theme, .arrivals__theme {
    color: #9a6437;
    display: flex;
    align-items: center;
}

.advantages {
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 111px;
    /*flex-wrap: wrap;
    margin-top: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;*/
}
.text{
    margin-right: 50px;
}
.advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.advantage__icon {
    width: 15%;
    margin-right: 20px;
    margin-left: 20px;
}

.advantage__text {
    font-size: small;
}

.vertical line {
    color: #A6A6A6;
    border: 1px;
}

.button {
    display: flex;
    justify-content: flex-end;
    margin-right: 10vw;
    background-color: white;
}
@media screen and (max-width: 1440px) {
    .block-name{
        &__button-line::before {
            right: 166px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .special-product{
        width: 100%;
        max-width: 950px;
        margin: 0 auto;
    }
    .block-name{
        &__button-line::before {
            right: 36px;
        }
    }
}
@media screen and (max-width: 768px) {
    .special-product{
        max-width: 750px;
    }
    .block-name{
        &__button-line::before {
            right: 10px;
        }
    }
}
/*----------------------Part 5 Смирнова Анна начало------------------------*/
@media screen and (min-width: 1024px) {
    .articles {
        max-width: 1290px;
        margin: 0 auto;

        &__recent {
            display: flex;
            align-items: center;
            justify-content: center;

            &_line {
                margin-top: 100px;
            }

            &_title {
                font-family: "Nunito Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 60px;
                color: #9a6437;
                margin-left: 12px;
                margin-right: 12px;
                margin-top: 100px;
            }
        }

        &__latest {
            margin-bottom: 44px;

            &_title {
                font-family: "Nunito Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 42px;
                line-height: 60px;
                color: #1b1a1a;
                text-align: center;
            }
        }

        .slider-articles {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__group {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 30px;
            margin-bottom: 134px;
            max-width: 1110px;

            &_block {
                position: relative;

                &_picture {
                    width: 100%;
                    max-width: 100%;
                }

                &_calendar {
                    position: absolute;
                    left: 29px;
                    top: 271px;
                    width: 42px;
                    height: 46px;
                    background: #ffffff;
                    border-bottom: 3px solid #b47139;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-family: "Nunito Sans";
                    font-style: normal;
                    filter: drop-shadow(0px 1px 7px rgba(0, 0, 0, 0.15));

                    .date {
                        font-weight: 400;
                        font-size: 17px;
                    }

                    .month {
                        font-weight: 300;
                        font-size: 12px;
                    }
                }

                &_content {
                    max-width: 350px;
                    max-height: 197px;
                    border: 1px solid #acacac;
                    padding-top: 37px;
                    padding-left: 30px;
                    box-sizing: content-box;

                    .info {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        &__img {
                            margin-right: 7px;
                        }

                        &__text {
                            font-family: "Nunito Sans";
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 28px;
                            color: #808080;
                        }

                        .name {
                            margin-right: 27px;
                        }
                    }

                    .article {
                        font-family: "Nunito Sans";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 30px;
                        color: #2e2d2d;
                        margin-bottom: 13px;
                    }

                    .button5 {
                        height: 37px;
                        width: 133px;
                        margin-bottom: 24px;
                        position: relative;

                        .link {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: "Nunito Sans";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 60px;
                            color: #1b1a1a;
                        }
                    }

                    .button5::before {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 43px;
                        width: 0.6px;
                        left: 0;
                        top: -5px;
                    }

                    .link::before {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 0.6px;
                        width: 138px;
                        left: -5px;
                        top: 0;
                    }

                    .button5::after {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 43px;
                        width: 0.6px;
                        left: 133px;
                        top: 0;
                    }

                    .link::after {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 0.6px;
                        width: 138px;
                        left: 0px;
                        top: 37px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .articles {
        margin: 0 auto;
        max-width: 90%;

        &__recent {
            display: flex;
            align-items: center;
            justify-content: center;

            &_line {
                border: 1.2px solid #9a6437;
                width: 55px;
                height: 0px;
            }

            &_title {
                font-family: "Nunito Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 60px;
                color: #9a6437;
                margin-left: 12px;
                margin-right: 12px;
            }
        }

        &__latest {
            margin-bottom: 30px;

            &_title {
                font-family: "Nunito Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 42px;
                line-height: 60px;
                color: #1b1a1a;
                text-align: center;
            }
        }

        .slider-articles {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__group {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 25px;
            margin-bottom: 50px;
            max-width: 90%;

            &_block {
                position: relative;

                &_picture {
                    width: 100%;
                    max-width: 100%;
                }

                &_calendar {
                    display: none;
                }

                &_content {
                    max-width: 350px;
                    max-height: 197px;
                    border: 1px solid #acacac;
                    padding-top: 5%;
                    padding-left: 10%;
                    box-sizing: content-box;

                    .info {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        &__img {
                            margin-right: 7px;
                        }

                        &__text {
                            font-family: "Nunito Sans";
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 28px;
                            color: #808080;
                        }

                        .name {
                            margin-right: 27px;
                        }
                    }

                    .article {
                        font-family: "Nunito Sans";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 30px;
                        color: #2e2d2d;
                        margin-bottom: 13px;
                    }

                    .button {
                        height: 37px;
                        width: 133px;
                        margin-bottom: 24px;
                        position: relative;

                        .link {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: "Nunito Sans";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 60px;
                            color: #1b1a1a;
                        }
                    }

                    .button::before {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 43px;
                        width: 0.6px;
                        left: 0;
                        top: -5px;
                    }

                    .link::before {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 0.6px;
                        width: 138px;
                        left: -5px;
                        top: 0;
                    }

                    .button::after {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 43px;
                        width: 0.6px;
                        left: 133px;
                        top: 0;
                    }

                    .link::after {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 0.6px;
                        width: 138px;
                        left: 0px;
                        top: 37px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .articles {
        margin: 0 auto;
        max-width: 90%;

        &__recent {
            display: flex;
            align-items: center;
            justify-content: center;

            &_line {
                border: 1.2px solid #9a6437;
                width: 55px;
                height: 0px;
            }

            &_title {
                font-family: "Nunito Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 60px;
                color: #9a6437;
                margin-left: 12px;
                margin-right: 12px;
            }
        }

        &__latest {
            margin-bottom: 20px;

            &_title {
                font-family: "Nunito Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 30px;
                line-height: 40px;
                color: #1b1a1a;
                text-align: center;
            }
        }

        .slider-articles {
            display: flex;
            justify-content: center;
        }

        .arrow {
            display: none;
        }

        &__group {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 50px;
            max-width: 90%;

            &_block {
                position: relative;
                margin-bottom: 20px;

                &_picture {
                    width: 100%;
                    max-width: 100%;
                }

                &_calendar {
                    display: none;
                }

                &_content {
                    max-width: 350px;
                    max-height: 197px;
                    border: 1px solid #acacac;
                    padding-top: 5%;
                    padding-left: 10%;
                    box-sizing: content-box;

                    .info {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        &__img {
                            margin-right: 7px;
                        }

                        &__text {
                            font-family: "Nunito Sans";
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 28px;
                            color: #808080;
                        }

                        .name {
                            margin-right: 27px;
                        }
                    }

                    .article {
                        font-family: "Nunito Sans";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 30px;
                        color: #2e2d2d;
                        margin-bottom: 13px;
                    }

                    .button {
                        height: 37px;
                        width: 133px;
                        margin-bottom: 24px;
                        position: relative;

                        .link {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-family: "Nunito Sans";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 60px;
                            color: #1b1a1a;
                        }
                    }

                    .button::before {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 43px;
                        width: 0.6px;
                        left: 0;
                        top: -5px;
                    }

                    .link::before {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 0.6px;
                        width: 138px;
                        left: -5px;
                        top: 0;
                    }

                    .button::after {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 43px;
                        width: 0.6px;
                        left: 133px;
                        top: 0;
                    }

                    .link::after {
                        content: "";
                        position: absolute;
                        background: #1b1a1a;
                        height: 0.6px;
                        width: 138px;
                        left: 0px;
                        top: 37px;
                    }
                }
            }
        }
    }
}

/*----------------------Part 5 Смирнова Анна конец------------------------*/

/* footer */
body {
    overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
    footer {
        border-top-left-radius: 70% 20%;
        border-top-right-radius: 70% 20%;
    }

    .footer_container {
        width: 35vw;
        padding-top: 11.2vh;
        padding-bottom: 11.2vh;
    }

    #logo_footer {
        width: 54px;
    }

    .logo_text {
        font-size: 30px;
        padding-top: 13px;
    }

    .footer_topic {
        font-size: 31px;
        padding-top: 13px;
    }

    .footer_text {
        font-size: 16px;
        padding-top: 10px;
    }

    .footer_form {
        padding-top: 12px;
    }

    .email {
        width: 230px;
        height: 27px;
    }

    .footer_button {
        width: 8.8vw;
        height: 32px;
        font-size: 10px;
    }

    .address_container {
        width: 77%;
        padding-top: 16px;
        justify-content: space-between;
    }

    .adress_text {
        font-size: 11px;
    }

    .network_logo {
        width: 12%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    footer {
        border-top-left-radius: 70% 20%;
        border-top-right-radius: 70% 20%;
    }

    .footer_container {
        width: 50vw;
        padding-top: 8vh;
        padding-bottom: 8vh;
    }

    #logo_footer {
        width: 40px;
    }

    .logo_text {
        font-size: 26px;
        padding-top: 10px;
    }

    .footer_topic {
        font-size: 27px;
        padding-top: 10px;
    }

    .footer_text {
        font-size: 15px;
        padding-top: 5px;
    }

    .footer_form {
        padding-top: 10px;
    }

    .email {
        width: 220px;
        height: 27px;
    }

    .footer_button {
        width: 8.8vw;
        height: 32px;
        font-size: 10px;
    }

    .address_container {
        width: 77%;
        padding-top: 14px;
        justify-content: space-between;
        margin-top: -5px;
    }

    .adress_text {
        font-size: 10px;
    }

    .network_logo {
        width: 17%;
    }
}

@media screen and (max-width: 767px) {
    footer {
        border-top-left-radius: 50% 10%;
        border-top-right-radius: 50% 10%;
    }

    .footer_container {
        width: 87vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    #logo_footer {
        width: 33px;
    }

    .logo_text {
        font-size: 23px;
        padding-top: 6px;
    }

    .footer_topic {
        font-size: 23px;
        padding-top: 6px;
    }

    .footer_text {
        font-size: 13px;
        padding-top: 4px;
    }

    .footer_form {
        padding-top: 7px;
    }

    .email {
        width: 170px;
        height: 22px;
    }

    .footer_button {
        width: 64px;
        height: 27px;
        font-size: 9px;
        padding: auto;
    }

    .address_container {
        width: 42%;
        padding-top: 16px;
        justify-content: center;
        align-content: space-between;
        margin-top: -10px;
        text-align: center;
    }

    .adress_text {
        font-size: 9px;
    }

    .network_logo {
        width: 60%;
    }
}

footer {
    width: 120vw;
    margin-left: -10vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-color: rgba(221, 215, 209, 1);
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -2px;
}

#logo_footer {
    padding-right: 10px;
    margin-left: -19px;
}

.logo_text_div {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo_text {
    color: rgba(85, 85, 85, 1);
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: -10px;
    margin: 0;
}

.footer_topic {
    color: rgba(27, 26, 26, 1);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    letter-spacing: -0.005em;
    margin: 0;
}

.footer_text {
    color: rgba(94, 94, 94, 1);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.email {
    background-color: rgba(221, 215, 209, 1);
    border: 1px solid rgba(90, 90, 90, 1);
    border-radius: 3px;
    margin-right: 3px;
}

.email::placeholder {
    font-family: "Nunito Sans", sans-serif;
}

.email::placeholder {
    font-weight: 300;
}

.email::placeholder {
    font-size: 10.5px;
}

.email::placeholder {
    padding-left: 6px;
}

.footer_button {
    padding-top: 5px;
    margin-top: 4px;
    background-color: rgba(221, 215, 209, 1);
    border: 1px solid rgba(90, 90, 90, 1);
    border-radius: 3px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
}

address {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
}

.address_container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.adress_text {
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: -0.35px;
}

.network_logo {
    display: flex;
    justify-content: space-between;
}